In [1]:
1+2

3

Hello this is text

# HEADing

In [ ]:
print ('hello world')

In [2]:
#Save as python code 
first_program.py #while running python
# make sure to select all files
# used a text editor (default one will work)

In [ ]:
1.

In [3]:
help(l)

NameError: name 'l' is not defined

In [4]:
1.denominator

SyntaxError: invalid syntax (<ipython-input-4-9a9060821c82>, line 1)

In [5]:
pwd

'/home/sandyma'

# Section 3: Lecture 13 Numbers Notebook

In [6]:
# Addition
2+1

3

In [8]:
# Subtraction
2-1

1

In [9]:
# Multiplication
2*2

4

In [12]:
#Division
3/2

##python 3: "true division"
##python 2: "classic division" --> truncate decimal pt (i.e. Out is 1 and not 1.5)
    #sol1: specify one of the numbers a floating number (i.e 3.0/2 or 3/2.0)
    #sol2: float(3)/2
    #sol3: import py3 f'ns to py2 (aka take it from the future; woah)
        #syntax: from __future__ import division
            #note: watch the double underscore and the spaces

1.5

In [13]:
# Powers
2**3

8

In [14]:
#can also do roots this way
4**0.5

2.0

In [16]:
#order of operations followed in python
2+10*10+3

105

In [17]:
(2+10)*(10+3)

156

In [18]:
a = 5

In [19]:
a + a

10

In [20]:
2a

SyntaxError: invalid syntax (<ipython-input-20-df799fb47bc1>, line 1)

In [21]:
2*a

10

In [22]:
a**2

25

In [23]:
a

5

In [24]:
#check
a

5

In [25]:
a = a+a

In [26]:
a

10

In [27]:
0.1+0.2-0.3

5.551115123125783e-17

In [28]:
30+*6

SyntaxError: invalid syntax (<ipython-input-28-0f2215e58fdd>, line 1)

In [29]:
6^6

0

In [30]:
^ -help

SyntaxError: invalid syntax (<ipython-input-30-18b5e2a38715>, line 1)

In [31]:
help ^

SyntaxError: invalid syntax (<ipython-input-31-e9a5aa43c05b>, line 1)

In [32]:
help(^)

SyntaxError: invalid syntax (<ipython-input-32-fc9cb4525d34>, line 1)

# Section 3: Lecture 15 Strings Notebook

#Creating String

In [34]:
"there is nothing that I didn't know; good review tho!"

"there is nothing that I didn't know; good review tho!"

In [35]:
Printing a string "markdown"

SyntaxError: invalid syntax (<ipython-input-35-9926628252a4>, line 1)

In [36]:
Markdown. Printing a string

SyntaxError: invalid syntax (<ipython-input-36-5b690232b1a6>, line 1)

In [ ]:
Markdown. Printing a string

In [37]:
# markdown

In [38]:
## markdown

In [39]:
'hello wolrd'
'hello world'

'hello world'

In [40]:
'hello wolrd'
"hello world"

'hello world'

In [41]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-41-d05d0c8adf1f>, line 1)

In [42]:
print ('hello world')
print ('hello world is so outdated')
print ('hello world i guess')
print ('where in the world is the world;hello world')

hello world
hello world is so outdated
hello world i guess
where in the world is the world;hello world

In [43]:
print ("hello world")

hello world

In [44]:
print ("hello world")
print ("\n")
print ("hello world again")

hello world


hello world again

In [45]:
print ("hello \n world again")

hello
 world again

In [46]:
len ('sandyma')

7

In [47]:
s = 'hello world'

In [48]:
s

'hello world'

In [49]:
print(s)

hello world

In [50]:
s[0]

'h'

In [51]:
s[6]

'w'

In [52]:
s[0:]

'hello world'

In [53]:
s[4:]

'o world'

In [54]:
s[-0]

'h'

In [55]:
s[0]

'h'

In [56]:
s[-2]

'l'

In [57]:
s[:-2]

'hello wor'

In [58]:
s[::1]

'hello world'

In [59]:
s[::3]

'hlwl'

In [60]:
s[::-1]

'dlrow olleh'

In [61]:
s

'hello world'

In [62]:
s=s+'bandwagon bro'

In [63]:
s

'hello worldbandwagon bro'

In [64]:
print (s)

hello worldbandwagon bro

In [65]:
print (s
      )

hello worldbandwagon bro

In [66]:
s*2

'hello worldbandwagon brohello worldbandwagon bro'

In [67]:
s.upper()

'HELLO WORLDBANDWAGON BRO'

In [68]:
s.lower()

'hello worldbandwagon bro'

In [69]:
s.split(3)

TypeError: must be str or None, not int

In [70]:
s.split(s)

['', '']

In [71]:
s.split()

['hello', 'worldbandwagon', 'bro']

In [72]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [73]:
'Insert another string with curly brackets: The inserted string'

'Insert another string with curly brackets: The inserted string'

In [74]:
s = 'STRING'

In [75]:
%(s)

ERROR:root:Line magic function `%(s)` not found.

In [76]:
print ('Place another string with a mod and s: %s')

Place another string with a mod and s: %s

In [77]:
print ('Place another string with a mod and s: %s') %(s)

Place another string with a mod and s: %s

TypeError: unsupported operand type(s) for %: 'NoneType' and 'str'

In [78]:
s

'STRING'

In [79]:
print ('Place another string with a mod and s: %s' %(s))

Place another string with a mod and s: STRING

In [80]:
print ('Floating point numbers: %1.2f' %(13.144))

Floating point numbers: 13.14

In [81]:
print ('Floating point numbers: %1.0f' %(13.144))
print ('Floating point numbers: %1.2f' %(13.144))

Floating point numbers: 13
Floating point numbers: 13.14

In [82]:
print ('Floating point numbers: %1.000f' %(13.144))
print ('Floating point numbers: %1.002f' %(13.144))
print ('Floating point numbers: %1.00f' %(13.144))
print ('Floating point numbers: %1.02f' %(13.144))
print ('Floating point numbers: %1.0f' %(13.144))
print ('Floating point numbers: %1.2f' %(13.144))
print ('Floating point numbers: %10.0f' %(13.144))
print ('Floating point numbers: %10.02f' %(13.144))
print ('Floating point numbers: %100.0f' %(13.144))
print ('Floating point numbers: %100.2f' %(13.144))
print ('Floating point numbers: %100.02f' %(13.144))
print ('Floating point numbers: %1000.0f' %(13.144))

Floating point numbers: 13
Floating point numbers: 13.14
Floating point numbers: 13
Floating point numbers: 13.14
Floating point numbers: 13
Floating point numbers: 13.14
Floating point numbers:         13
Floating point numbers:      13.14
Floating point numbers:                                                                                                   13
Floating point numbers:                                                                                                13.14
Floating point numbers:                                                                                                13.14
Floating point numbers:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       13

In [83]:
print ('Floating point numbers1: %1.000f' %(13.144))
print ('Floating point numbers2: %1.002f' %(13.144))
print ('Floating point numbers3: %1.00f' %(13.144))
print ('Floating point numbers4: %1.02f' %(13.144))
print ('Floating point numbers5: %1.0f' %(13.144))
print ('Floating point numbers6: %1.2f' %(13.144))
print ('Floating point numbers7: %10.0f' %(13.144))
print ('Floating point numbers8: %10.02f' %(13.144))
print ('Floating point numbers9: %100.0f' %(13.144))
print ('Floating point numbers10: %100.2f' %(13.144))
print ('Floating point numbers11: %100.02f' %(13.144))
print ('Floating point numbers12: %1000.0f' %(13.144))

Floating point numbers1: 13
Floating point numbers2: 13.14
Floating point numbers3: 13
Floating point numbers4: 13.14
Floating point numbers5: 13
Floating point numbers6: 13.14
Floating point numbers7:         13
Floating point numbers8:      13.14
Floating point numbers9:                                                                                                   13
Floating point numbers10:                                                                                                13.14
Floating point numbers11:                                                                                                13.14
Floating point numbers12:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       13

In [84]:
print ('This is a string')

This is a string

In [86]:
s = 'String'

print ('Place my variable here: %s' %(s))

Place my variable here: String

In [90]:
s = 1.6

print ('Place my variable here: %0.2f' %(s))
print ('Place my variable here: %1.2f' %(s))

Place my variable here: 1.60
Place my variable here: 1.60

In [94]:
print('Floating point number: %1.2f' %(13.145))

Floating point number: 13.14

In [95]:
print ('Converted this to a string %r' %(123))

Converted this to a string 123

In [97]:
x = 3
print ('First: %s, Second: %s, Third: %s' %(1,2,x))

First: 1, Second: 2, Third: 3

In [98]:
x = 3
print ('First: %s, Second: %s, Third: %s' %(1,2,hi))

NameError: name 'hi' is not defined

In [100]:
print ('First: %s, Second: %s' %(2,2))

First: 2, Second: 2

In [101]:
print ('First: {x} Second: {x}'.format(x='inserted'))

First: inserted Second: inserted

In [102]:
print ('First: {x} Second :{y} Third: {x}'.format(x='inserted', y='two!'))

First: inserted Second :two! Third: inserted

In [106]:
print ('Sandy has {a} and {b} with {c};Sandy also wants {c},{c},and{c}'.format(a='6carrots', b='7bananas',c='coke'))

Sandy has 6carrots and 7bananas with coke;Sandy also wants coke,coke,andcoke

In [107]:
my_list = [1,2,3]

In [108]:
my_list

[1, 2, 3]

In [109]:
my_list = ['A string', 23, 100.332, 'o']

In [110]:
my_list

['A string', 23, 100.332, 'o']

In [111]:
len(my_list)

4

In [112]:
my_list = ['one','two','three']

In [113]:
my_list[0]

'one'

In [114]:
my_list[4]

IndexError: list index out of range

In [115]:
my_list[3]

IndexError: list index out of range

In [116]:
my_list[2]

'three'

In [117]:
my_list = [1:8]

SyntaxError: invalid syntax (<ipython-input-117-bb134ea9e25d>, line 1)

In [118]:
my_list = [1,2,3,4,5,6,7,8]

In [119]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [120]:
my_list[1:]

[2, 3, 4, 5, 6, 7, 8]

In [121]:
my_list[:3]

[1, 2, 3]

In [122]:
my list + ['new item']

SyntaxError: invalid syntax (<ipython-input-122-26d25a8a9100>, line 1)

In [123]:
my_list + ['new item']

[1, 2, 3, 4, 5, 6, 7, 8, 'new item']

In [124]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [125]:
a = 1,2,3,4,5,

In [126]:
a

(1, 2, 3, 4, 5)

In [127]:
a = 'hello world'

In [128]:
a + 'sandy!'

'hello worldsandy!'

In [129]:
a

'hello world'

In [130]:
a = a + ' sandy!'

In [131]:
a

'hello worldsandy!'

In [132]:
a = a + ' sandy!'

In [133]:
a

'hello worldsandy! sandy!'

In [134]:
my_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [135]:
l = [1,2,3]

In [136]:
l.append('append me')

In [137]:
l

[1, 2, 3, 'append me']

In [138]:
l.pop(0)

1

In [139]:
l.pop

In [140]:
l.pop()

'append me'

In [141]:
l

[2, 3]

In [142]:
a = l.pop(0)

In [143]:
l

[3]

In [144]:
new_list = ['s','a','n','d','y']

In [145]:
new_list.reverse()

In [146]:
new_list

['y', 'd', 'n', 'a', 's']

In [147]:
new_list.sort()

In [148]:
new_list

['a', 'd', 'n', 's', 'y']

In [ ]:
l_1 = range()
l_2: [4,5,6]
l_3:

In [149]:
b = range(3)

In [150]:
b

range(0, 3)

In [151]:
b = [range(3)]

In [152]:
b

[range(0, 3)]

In [153]:
range(10)

range(0, 10)

In [154]:
>>> range(10)

range(0, 10)

In [155]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [156]:
matrix = [lst_1, lst_2, lst_3]

In [157]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [158]:
matrix[0]

[1, 2, 3]

In [159]:
matrix[0][0]

1

In [160]:
matrix[1][1]

5

In [163]:
first_col = [row[0] for row in matrix]

In [164]:
first_col

[1, 4, 7]

In [165]:
test1 = [test[0] for row in matrix]

NameError: name 'test' is not defined

In [166]:
test1 = [test[0] for test in matrix]

In [167]:
test1

[1, 4, 7]

In [168]:
lst_1=[1,12,13]
lst_2=[14,15,16]
lst_3=[17,18,19]
matrix = [lst_1, lst_2, lst_3] #nested list
matrix #show

[[1, 12, 13], [14, 15, 16], [17, 18, 19]]

In [169]:
lst_1=[11,12,13]
lst_2=[14,15,16]
lst_3=[17,18,19]
matrix = [lst_1, lst_2, lst_3] #nested list
matrix #show

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [171]:
matrixx2 = [lst_1, lst_2, lst_3] #nested list
matrixx2 #show

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [172]:
first_col2 = [test[1] for test in matrixx2]

In [173]:
first_col2

[12, 15, 18]

In [174]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [175]:
my_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [176]:
new_list

['a', 'd', 'n', 's', 'y']

In [177]:
my_dict = {'key1': 'value1','key2':'value2'}

In [178]:
my_dict['key2']

'value2'

In [179]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [180]:
my_dict = ['key3']

In [181]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict['key3']

['item0', 'item1', 'item2']

In [182]:
my_dict['key3'][0]

'item0'

In [183]:
my_dict['key3'].upper(0)

AttributeError: 'list' object has no attribute 'upper'

In [184]:
my_dict['key3'][0].upper()

'ITEM0'

In [185]:
my_dict['key1']

123

In [186]:
my_dict['key1'] - 123

0

In [187]:
my_dict['key1']

123

In [188]:
sandy = {}
sandy['var1'] = 'first name'
sandy['var2'] = 'does not have a last name'

In [189]:
sandy

{'var1': 'first name', 'var2': 'does not have a last name'}

In [190]:
sandy['var3'] = 'so sad'

In [191]:
sandy

{'var1': 'first name', 'var2': 'does not have a last name', 'var3': 'so sad'}

In [192]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [193]:
d['key1'][0]

KeyError: 0

In [194]:
d['key1']['nestkey']['subnestkey']

'value'

In [195]:
d = {'rebel1':1, 'rebel2':2, 'key3':3}

In [197]:
d.keys ()

dict_keys(['rebel1', 'rebel2', 'key3'])

In [198]:
d = {'key1':1,'key2':2,'key3':3}
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [199]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [200]:
d.values()

dict_values([1, 2, 3])

In [201]:
my_dict['key1']

123

In [202]:
my_dict['key1'] -= 3

In [203]:
my_dict['key1']

120

In [204]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [205]:
t = (1,2,3)

In [206]:
len(t)

3

In [207]:
t = ('one',2)

In [208]:
t

('one', 2)

In [209]:
t = 'Basic Tuple Methods'.upper()

In [210]:
t

'BASIC TUPLE METHODS'

In [211]:
t.index('one')

ValueError: substring not found

In [212]:
t = ('one',2,3)
t[0]#index tuple
t[-1]#slice tuple

3

In [213]:
t.index('one')

0

In [214]:
a = 'Immutability'.upper()
a

'IMMUTABILITY'

# Section 3: Lecture 24 (Files)

In [ ]:
#Writing a file directly from iPython Magic
%%writefile test.txt
Hello, this is a quick test file

#Open the file made from above
my_file = open('test.txt')

#Read the file
my_file.read() #REPEAT: will return empty!

#SOLUTION: Seek to the start of file (index 0)
my_file.seek(0)
# Now read again
my_file.read() #Annoying to have to reset, so use readlines

# Readlines returns a list of the lines in the file.
my_file.readlines()
#CAUTION: with large files everything will be held in memory

In [ ]:
#Writing to a File
my_file = open('test.txt','w+') #w+: pens a file for both writing and reading. 
        ##Overwrites the existing file if the file exists.
        ##If the file does not exist, creates a new file for reading and writing.
        ##Look for others: https://stackoverflow.com/questions/16208206/confused-by-python-file-mode-w
my_file.write('This is a new line')
my_file.read()

#Iterating through a File
%%writefile test.txt
First Line
Second Line

for line in open('test.txt'):
    print line #tab is required!

# Can substitute the position of line for anything!
for asdf in open('test.txt'): #don't forget colon!
    print asdf

# Section 3: Lecture 25 (Sets and Booleans)

In [ ]:
#Construct a set()function
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x
# Add a different element
x.add(1)
    #NOTE: Will not add another 1, bc sets only register UNIQUE ELEMENTS!
    ##Example
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(l)

In [ ]:
#DEFINE BOOLEAN: In most computer programming languages, a Boolean data type is a data type 
    #with only two possible values: true or false.


# Set object to be a boolean
a = True
#Show
a

# Output is boolean
1 > 2

# None placeholder
b = None

# Section 4: Lecture 29 (Comparison Operators)

In [1]:
# cool, straightforward
#!= is the same as <> use the former as it is more common!

# Section 4: Lecture 30 (Chained Comparison Operators)

In [38]:
m1 = 1 < 2 < 3
m1
# The above statement check if 1 was less than 2 and if 2 was less than 3. 
# We could have written this using an and statement in Python: 1<2 and 2<3

True

In [39]:
m2 = 1<2 and 2<3
m2
# The and is used to make sure two checks have to be true in order for the total 
    #check to be true

True

In [40]:
eg2 = 1 < 3 > 2
eg2

True

In [41]:
eg3 = 1<3 and 3>2
eg3

True

In [42]:
# It's important to note that Python is checking both instances of the comparisons. 
    #We can also use or to write comparisons in Python. For example:
1==2 or 2<3

True

In [43]:
#Note: how it was true, this is because with the or operator, we only need one or the other two be true. 
    #Let's see one more example to drive this home:
1==1 or 100==1

True

In [48]:
#make sure you have the symbol right! ----> >= and not =>
2 <= 3 >= 1

True

# Section 5: Lecture 31 (Introduction to Python Statements)

In [45]:
#Look at Google Docs Notes

# Section 5: Lecture 32 (If, elif, and else Statements)

In [46]:
#First Example
if True:
    print('It was true! yes! ohmg!')

It was true! yes! ohmg!

In [47]:
x = False 

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

### Multiple Branches

In [11]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print("Where are you?")
    
# Note how the nested if statements are each checked until a True boolean causes the nested 
    ##code below it to run. 
##You should also note that you can put in as many elif statements as you want 
#s
##before you close off with an else.

Welcome to the bank!

In [12]:
person = 'Sammy'

if person == 'Sammy':
    print ('Welcome Sammy!')
else:
    print ("Welcome, what's your name?")

Welcome Sammy!

In [13]:
#Sandy's example
person = 'Sammy'

if person == 'Sammy':   #remember == and colon!
    print ('Hi, Sammy!')
elif person == 'Sandy':
    print('Ew!')
else: # remember empty, just colon!
    print('No one around, but ppl are there for ya somewhere ELSE. lol')

Hi, Sammy!

# Section 5: Lecture 33 (for Loops)

### Example 1

In [66]:
l = [1,2,3,4,5,6,7,8,9,10]
#MUST RUN THIS BEFORE YOU CAN RUN WHATEVER IS NEXT!

In [67]:
for num in l:
    print (num) #------------------------------------------------ Why not working?

1
2
3
4
5
6
7
8
9
10

In [68]:
for number in l:
    print('something')
# for every number in l, replace it and print 'something'

something
something
something
something
something
something
something
something
something
something

### Modulo

In [16]:
17 % 5

2

In [17]:
# no remainder
4 % 2

0

In [73]:
for num in l:
    if num %2 == 1:
        print('odd')
    elif num %2 == 0:
        print('even')
    else:
        print('blah')

odd
even
odd
even
odd
even
odd
even
odd
even

### Example 2

In [18]:
for num in l:
    if num % 2 == 0: #two equal signs bc a comparison statement
        print(num)

2
4
6
8
10

In [23]:
for num in l:
    if num %2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

### Example 3

In [20]:
# Start sum at zero
list_sum = 0

for num in l: # for every single number in the list l #tally for your current sum!
    list_sum = list_sum + num #add list_sum to every single number in list l,
                                #which you set as num
                                #add variable to itself
        
print (list_sum) #OUTSIDE OF FOR LOOP bc not indented!
#In short: you added all the numbers in l and set that final sum number to list_sum

55

In [21]:
#Start sum at zero
list_sum = 0

for num in l:
    list_sum += num #so you don't need the whole --->  list_sum + sum == += num
print (list_sum)

# +=:adds another value with the variable's value and assigns the new value to the variable
# -=, *=, /= does similar for subtraction, multiplication and division

55

### Example 4

In [22]:
# We've used for loops with lists, how about with strings?
#Remember strings are a sequence so when we iterate through them 
    #we will be accessing each item in that string.

for letter in 'This is a string.':
    print (letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

### Example 5

In [25]:
tup = (1,2,3,4,5)

for t in tup:
    print (t)

1
2
3
4
5

### Example 6 - Tuple unpacking

In [75]:
l = [(2,4),(6,8),(10,12)]

In [76]:
for tup in l:
    print (tup)

(2, 4)
(6, 8)
(10, 12)

In [77]:
l[0][0]

2

In [78]:
l[2][0]

10

In [28]:
# Now with unpacking!
for (t1,t2) in l:  #assign t1 to the first position of the tuple and the same for t2
    print(t1) #then only print t1, which is assigned the first

2
6
10

In [79]:
#tuples can be irriterated!
for (t1,t2) in l:      #state item to look like tuple
    print(t1-t2)       #can use them for various things!

-2
-2
-2

### Example 7

In [29]:
d = {'k1':1, 'k2':2, 'k3':3}

In [81]:
for item in d:
    print(item)

#Notice how this produces only the keys. So how can we get the values? 
    #Or both the keys and the values
    
#will give it out of order bc it's a mappings! ---> doesn't seem like it's the case, mb 4 py2

k1
k2
k3

In [31]:
# For Python 3            #.iteritems in py2
for k,v in d.items():
    print(k)
    print(v)
    
    #returns iterators and so your list is 'never fully built'

k1
1
k2
2
k3
3

In [32]:
# For Python 3
for k,v in d.items():
    print(v)

1
2
3

# Section 5: Lecture 34 (while Loops)

In [40]:
#repeat until a true statement happens!

x = 0

while x < 10:
    print('x is currently: ', x)#----------------------------------> Why isn't it working?!
    print ('   x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
   x is still less than 10, adding 1 to x
x is currently:  1
   x is still less than 10, adding 1 to x
x is currently:  2
   x is still less than 10, adding 1 to x
x is currently:  3
   x is still less than 10, adding 1 to x
x is currently:  4
   x is still less than 10, adding 1 to x
x is currently:  5
   x is still less than 10, adding 1 to x
x is currently:  6
   x is still less than 10, adding 1 to x
x is currently:  7
   x is still less than 10, adding 1 to x
x is currently:  8
   x is still less than 10, adding 1 to x
x is currently:  9
   x is still less than 10, adding 1 to x

In [34]:
x = 0

while x < 10:
    print('x is currently: {}'.format(x) )#----------------------------------> Why isn't it working?!
    print ('   x is still less than 10, adding 1 to x')
    x+=1

x is currently: 0
   x is still less than 10, adding 1 to x
x is currently: 1
   x is still less than 10, adding 1 to x
x is currently: 2
   x is still less than 10, adding 1 to x
x is currently: 3
   x is still less than 10, adding 1 to x
x is currently: 4
   x is still less than 10, adding 1 to x
x is currently: 5
   x is still less than 10, adding 1 to x
x is currently: 6
   x is still less than 10, adding 1 to x
x is currently: 7
   x is still less than 10, adding 1 to x
x is currently: 8
   x is still less than 10, adding 1 to x
x is currently: 9
   x is still less than 10, adding 1 to x

In [47]:
x = 0

while x < 10:
    print('x is currrently:', x)
    print('    x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currrently: 0
    x is still less than 10, adding 1 to x
x is currrently: 1
    x is still less than 10, adding 1 to x
x is currrently: 2
    x is still less than 10, adding 1 to x
x is currrently: 3
    x is still less than 10, adding 1 to x
x is currrently: 4
    x is still less than 10, adding 1 to x
x is currrently: 5
    x is still less than 10, adding 1 to x
x is currrently: 6
    x is still less than 10, adding 1 to x
x is currrently: 7
    x is still less than 10, adding 1 to x
x is currrently: 8
    x is still less than 10, adding 1 to x
x is currrently: 9
    x is still less than 10, adding 1 to x
All Done!

## break, continue, pass

In [49]:
x = 0

while x < 10:
    print ('x is currently:%s', x)
    print ('    x is still less than 10, adding 1 to x')
    x+=1
    if x == 3:
        print ('x == 3')
    else:
        print('continuing...')
        continue

x is currently:%s 0
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 1
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 2
    x is still less than 10, adding 1 to x
x == 3
x is currently:%s 3
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 4
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 5
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 6
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 7
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 8
    x is still less than 10, adding 1 to x
continuing...
x is currently:%s 9
    x is still less than 10, adding 1 to x
continuing...

In [51]:
x = 0

while x < 10:
    print ('x is currently: %s', x)
    print ('     x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking bc x == 3')
        break
    else:
        print('continuing...') #not printed bc break before this!
        continue

x is currently: %s 0
     x is still less than 10, adding 1 to x
continuing...
x is currently: %s 1
     x is still less than 10, adding 1 to x
continuing...
x is currently: %s 2
     x is still less than 10, adding 1 to x
Breaking bc x == 3

# Section 5: Lecture 35 (range ())

In [54]:
range(0,10)
# python 3 difference, it is a generator so it only gets used when you call it
#meanwhile, a list will keep it in memory the whole time
# the equivalent to this in py3 is xrange() ---> use it for for loops

range(0, 10)

In [55]:
x = range(0,10) 
type (x)

range

In [82]:
y = range(10)
y

range(0, 10)

In [57]:
 #turn your range into a list
my_list = list(range(1,10))
type (my_list)

list

In [58]:
#index a number in your range
print(range(30)[12])

12

In [60]:
start = 0 #default
stop = 20
x = range (start, stop)
x

range(0, 20)

In [61]:
x = range (start,stop,2) #----------------------------------------> WHY DOESN'T IT WORK?
x

range(0, 20, 2)

### <font color='red'>Python 3 Alert!</font>

In [ ]:
# How to change font colour of a markdown
### <font color='red'>Python 3 Alert!</font>

In [64]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

# Section 5: Lecture 36 (List Comprehensions)

### Example 1

In [96]:
l = []

for letter in'word':
    l.append(letter)
    
print(l)

['w', 'o', 'r', 'd']

In [99]:
#use a for loop within a list   #flatten out for loop!
l = [letter for letter in 'word']
l

['w', 'o', 'r', 'd']

In [84]:
#Grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

### Example 2

In [85]:
# Square numbers in range and turn into list
lst = [x**2 for x in range (0,11)]  #start with what you want
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 3

In [87]:
# Check for even numbers in a range
lst = [x for x in range(11) if x %2==0]
lst

[0, 2, 4, 6, 8, 10]

In [100]:
lst = []

for number in range(11):
    if number %2 == 0:
        lst. append(number)
        print(number)

0
2
4
6
8
10

In [101]:
lst

[0, 2, 4, 6, 8, 10]

In [89]:
# Check for odd numbers in a range
lst = [x for x in range(11) if x %2==1]
lst

[1, 3, 5, 7, 9]

### Example 4

In [91]:
# Convert Celsius to Fahrenheit
C = [0,10,20.1,34.5]
F = [((float(9)/5)*temp+32) for temp in C]
F

[32.0, 50.0, 68.18, 94.1]

In [103]:
C = [0,10,20.1,34.5]
F = [(temp * (9/5) + 32) for temp in C]
F

[32.0, 50.0, 68.18, 94.1]

### Example 5

In [92]:
# Find result is x**4 num in range(11)
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

### Googled Examples

In [93]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print (primes)

#can be nested, but very long and not readable

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [95]:
S = [x**2 for x in range(10)]
V = [2**i for i in range(13)]
M = [x for x in S if x % 2 == 0]
print(S)
print(V)
print(M)

#More examples: http://www.secnetix.de/olli/Python/list_comprehensions.hawk

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

# Section 6: Lecture 39 (Methods)

**Methods**: functions built into objects.
- Will perform specific actions on the object and can also take arguments
- Will learn more with Object Oriented Programming


### Syntax
object.method (arg1, arg2, etc...)
- Sometimes w/ arg and other times no need

In [2]:
# Create a simple list
l = [1,2,3,4,5]

In [3]:
l.append(7)
l

[1, 2, 3, 4, 5, 7]

In [4]:
l.count(7)

1

In [ ]:
#shift + tab to see what it does
l.count

In [109]:
help(l.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [110]:
help(l.extend) #dk how to use it!

Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [113]:
l = [1,2,3,4,5]
l.reverse()
l

[5, 4, 3, 2, 1]

In [114]:
l = [1,2,3,4,5]
l.copy()
l

[1, 2, 3, 4, 5]

# Section 6: Lecture 40 (Functions)

**What is a function?**: usefule device that groups together a set of statements so they can be run more than once.
- Can allow us to specify parameters; **parameters:** serve as inputs to the function
- Don't need to repeat stuff over and over again!

## def Statements

In [ ]:
#Function syntax
def name_fn (arg1, arg2):
    '''
    This is where the function's Document String (doc-string) goes
    ''' # docstring: string literal that occurs as the first statement in a module, function, class, or method definition.
    # Do stuff here
    # return desired result

### Video Examples

In [6]:
def name_of_function (arg1,arg2):    # are these just place hodlers?
    pass

In [7]:
name_of_function()

TypeError: name_of_function() missing 2 required positional arguments: 'arg1' and 'arg2'

In [9]:
name_of_function(1,2)

In [13]:
def my_add_fn (arg1, arg2):
    '''Here is my doc string! Try figuring it out how it works:
    EG: my_add_fun *Shift + Tab*
    '''
    print(arg1 + arg2)
    #everything indented at least once under the function will be called w/ the fn

In [14]:
my_add_fn (1,2) #just call fn, w/o def

3

### Example 1: A simple print 'hello' function

In [118]:
def say_hello():
    print('hello, what am I doing?')
    
say_hello()

hello, what am I doing?

### Example 2: A simple greeting function

In [ ]:
def greeting(name):
    print ('Hello %s', %name)
greeting ('Jose')

In [125]:
# this also works -----> is there a diff? the ,name needs to be inside the round brackets!
def greeting(name):
    print ('Hello', name)
greeting ('Jose')

Hello Jose

## Using return

### Example 3: Addition function

In [16]:
def add_num(num1,num2):
    return num1 + num2 #whatever is put after it will be saved
# range outputs a list bc it returns a list

In [17]:
#Can also save it as a variablle bc of return
result = add_num(4,5) #RESULT = THE SUM  #num1 = 4, num2 = 5
print(result)

9

In [18]:
#Can also save it as a variablle bc of return #works the same as above
result = add_num(4,5)
result

9

In [19]:
#can do the same thing for strings bc we didn't declare variable types in py
#later: will add in checks to put in the correct function!
print (add_num('one','two')) #returns: one concatinated w/ two

onetwo

In [ ]:
con_str = (add_num('one','two')) #returns: one concatinated w/ two

### Example 4: using break,continue, and pass statements in our code

In [ ]:
def is_prime():
    pass

In [ ]:
is_prime()

In [24]:
#Is the number a prime?
def is_prime(num):
    '''
    Naive method of checking for primes.
    INPUT: A number
    OUTPUT: A print statement whether or not a number is prime.
    '''
    for n in range(2,num): #UP TO NUM, BUT NOT INCLUDING, and started at 2! 
        # ---> aka, removes all posibility for a prime number to be divisible w/ no remainder
        if num % n == 0:#num, the one you assigned, divided by any of the numbers in ur range
            print('not prime')
            break
    else: #If never mod zero, then prime
        print('prime')

In [25]:
#test
is_prime(2)

prime

In [29]:
#Is the number a prime? #--------------------------------> WHY DIFFERENT RESULT? #one indent?
def is_prime(num):
    '''
    Naive method of checking for primes.
    INPUT: A number
    OUTPUT: A print statement whether or not a number is prime.
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
        else: #If never mod zero, then prime
            print('prime')

In [31]:
#test #------------------------------------------> WHY DIFFERENT RESULT?
is_prime(13)

prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime

In [140]:
import math

def is_prime(num):
    '''
    Better method of checking for primes.
    '''
    if num %2 == 0 and num > 2:
        return False
    for i in range(3, int(math.sqrt(num)) +1, 2):
        if num % i ==0:
            return False
    return True
is_prime(14)

False

# Section 6: Lecture 41 (Lambda Expressions)

In [1]:
def square (num):
    result = num **2
    return result

In [2]:
square(2)

4

In [3]:
#simplify
def square(num):
    return num**2 #don't need to set it equal to result

In [6]:
square(2)

4

In [4]:
#one line, similar to what lambda expressions try to replicate
def square(num): return num**2 #bad style, but okay syntax

In [5]:
square (2)

4

In [7]:
#lambda expression
#no function name required, you can use a label (look below)
lambda num: num**2
        #what it will take in #what it will output
#output was a function --> can assign this f'n to a label

In [8]:
square = lambda num: num**2 #will work just like a function
# don't usually do this bc you WANT AN ANONYMOUS function

In [9]:
square(2) #works 'just like a function'

4

### Example 1

In [11]:
#Check if the number is even

even_num = lambda x: x%2 == 0
even_num (3)

False

In [12]:
even_num(4)

True

In [32]:
#Try converting a lambda expression into a function
#t1
def even_num(x):
    if x%2 == 0
    return x

SyntaxError: invalid syntax (<ipython-input-32-4c8c4e4752b2>, line 2)

In [33]:
#t2 ---> should have listend to my gut and done this first!
def even_num(x):
    return x%2 == 0

### Example 2

In [14]:
#Grab the first char of a string

first_char = lambda s: s[0] #s = some string
first_char('hello')

'h'

### Example 3

In [16]:
# reverse a string:
rev = lambda s: s[::-1]
rev ('hello')

'olleh'

### Example 4

In [17]:
adder = lambda x,y : x+y

In [18]:
adder (2,3)

5

# Section 6: Lecture 42 (Nested Statements and Scope)

In [34]:
x = 25

def printer():
    x = 50
    return x
print (x)
print (printer())
#What is the output of print x?

25
50

In [35]:
#check 1
print(x) #global

25

In [36]:
print(printer()) #local

50

### Local Example

In [23]:
# x is local here:
f = lambda x: x**2

### Enclosing function locals Example

In [28]:
#Used for nested functions
name = 'This is a global name'

def greet():
    #Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello' +  name)
    
    hello() #looks within the local to see if it was defined anywhere
    #bc it found the variable name, it brings it back here from the first (most ext.) fn

greet()

#Sammy was used, because the hello() function was enclosed 
##inside of the greet function!

HelloSammy

In [33]:
name = 'This is a global name'

def greet():
    #Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello' +  name) #---------------------> why doesn't it print anything?

### Global Example

In [29]:
print (name) 
# -------------------------------------> is this global bc it was outside the function?

This is a global name

### Buil-in Example

In [34]:
len
# do not overwrite these!

## Local Variables Example
When you declare variables inside a function definition, they are **not related** in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. 
---> this is called the scope of a variable

In [43]:
#same variable ----> VERY USEFUL EXAMPLE!
x = 50

def func(x):
    print ('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

## The Global Statement Example

In [49]:
# Take in global variables into a local environment
x = 50

def func():
    global x #looking for the global name x, wtv I do affects x globally
    #global is trouble
    #tell it that it's not local but global
    print ('This function is now using the global x!')
    print('Because of global x is:', x)
    x = 2 #resets x to equal to 2
    print('Ran func(), changed global x to', x)
    
print('Before calling func(), x is:', x)
func()
print('Value of x (outside of func()) is:', x)
#affect name of variables on a global scale

Before calling func(), x is: 50
This function is now using the global x!
Because of global x is: 50
Ran func(), changed global x to 2
Value of x (outside of func()) is: 2

In [50]:
x #bc of global

2

## Conclusion

Use 
- globals () functions
- locals () functions
to check what are your current local and global variables

EVERYTHING IN PYTHON IS AN OBJECT!
- Can assign variables to functions just like how you can assign them to numbers!

# Functions and Methods - Homework Assignment

# DIFFERENCE BETWEEN STRING AND LIST

In [ ]:
#GREAT WEBSITE: https://www.go4expert.com/articles/difference-strings-lists-python-t27973/
#list: mutable; string: immutable